.authorize-block {
	width: 330px;
	margin: 15% auto 20%;

}
.authorize-form-block{
	width: 100%;
	width: 330px;
	border: 1px solid #cecece;
	border-radius: 5px;
	padding: 39px 37px;

	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	background-image: -moz-linear-gradient( 90deg, rgba(240,238,237,1), rgba(251,251,250,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(240,238,237,1), rgba(251,251,250,1));
  background-image: -ms-linear-gradient( 90deg, rgba(240,238,237,1), rgba(251,251,250,1));
  box-shadow: 0px 11px 27px 0px rgba(159, 159, 159, 0.75),inset 0px 6px 6px 0px rgba(255, 255, 255, 0.004);
}

.authorize-login {
	display: inline-block;
	position: relative;
	z-index: 5;
		border: 1px solid #d6d5d3;
	width: 252px;
    padding: 10px;
    margin-bottom: 24px;
	 background-image: -moz-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  background-image: -ms-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfd',
            endColorstr='#f4f3f3',GradientType=0);
   border-radius: 4px;

  box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
}

.authorize-login + label {
	  position: relative;
	  left: -50px;
	  z-index: 10;
  display: inline-block;
  vertical-align: middle;
}
}

.authorize-login + label:before {
	position: absolute;
  top: -100px;
    margin: 12px 0;
    content: 'sdf';
    width: 23px;
    height: 17px;
    background: url('../img/icons-spritesheet.png') -27px 0;
}



.authorize-login:after {
display: inline-block;
	float: left;
	margin-left: 12px;
	margin-right: 35px;
	content: '';
    width: 10px;
    height: 36px;
    background: url('../img/icons-spritesheet.png') 0 0;
}


.authorize-password {
		border: 1px solid #d6d5d3;
	width: 252px;
    padding: 10px;
    margin-bottom: 20px;
	 background-image: -moz-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  background-image: -ms-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfd',
            endColorstr='#f4f3f3',GradientType=0);
   border-radius: 4px;

  box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
}

.authorize-remember{
	margin-bottom: 21px;
}

.authorize-submit {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 37px;
	border-radius: 5px;
  color: #1e7465;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
border: 1px solid #51bc9e;
  background-image: -moz-linear-gradient( 90deg, rgba(67,183,150,1), rgba(128,232,203,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(67,183,150,1), rgba(128,232,203,1));
  background-image: -ms-linear-gradient( 90deg, rgba(67,183,150,1), rgba(128,232,203,1));
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80e8cb',
            endColorstr='#43b796',GradientType=0);
}


