body {
	background: url(../img/bg.jpg);
	background: #f2e298\9;
	background-size: cover;
	background-attachment: fixed;

}
html, body {
	height: 100%;
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #727070;
}
a{
	color: #727070;
}

.clearfix:after {
	content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.wrap-main {
	position:relative;
	min-height:100%;
	height:auto!important;

	z-index: 1;

}
.wrap-main:after {
	display: block;
	content: '';
	margin-bottom: 15px;
	clear: both;
	height: 61px;
	z-index: 0;


}

/*** ХЕДЕР ***/
.header {
 background: url("../img/bg-head.jpg") repeat-x;
  overflow: hidden;
  width: 100%;
  height: 90px;
  border-bottom: 7px solid #ffffff;
  outline: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 36px;
}
.header-wrap {
	margin: 0 auto;
	width: 85.71428571428571%;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	overflow: hidden;
	padding-left: 10px;
}

.seo-span {
	font-size: 0;
}
.logo {
	float: left;
	margin: 5px 0;
	padding: 0;
}
.logo:focus {
outline: none;
	}
.social-bar {

	margin: 23px 0;
	margin: 10px 0 0\9;
	padding: 0;
float: right;

}
.social-bar__li {

	display: inline-block;
	list-style: none;
	margin-left: 5px;
}
/*** КОНЕЦ - ХЕДЕР ***/
/*** БЛОК MAIN ***/

.page-main {
	width: 68.57142857142857%;
	margin: 0 auto;
	min-width: 910px;
}
.aside {

	float: left;
	width: 250px;
	border-radius: 3px;
	padding: 0;
}


 /***** MENU *****/
 .adaptive-menu {
 	display: none;
 }
.main-menu {
	font-family: 'open_sanssemibold';
	font-size: 20px;
	list-style: none;
	padding: 0;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 36px;
}

.main-menu__li {

	display: block;
	height: 54px;
	border: 1px solid #c5c5c5;
	border-top: none;
}
.main-menu:first-child {
	border-top: 1px solid #c5c5c5;
}

.main-menu__li_link {

  background-image: -moz-linear-gradient( 90deg, rgba(233,230,229,1), rgba(251,249,249,0.94), rgba(255,255,255,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(233,230,229,1), rgba(251,249,249,0.94), rgba(255,255,255,1));
  background-image: -ms-linear-gradient( 90deg, rgba(233,230,229,1), rgba(251,249,249,0.94), rgba(255,255,255,1));
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',
            endColorstr='#e9e8e8',GradientType=0);
	box-shadow: 0 2px 1px 0 rgba(009, 009, 009, 0.07),inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	padding: 0 0 0 27px;
	width: 100%;
	display: block;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	line-height: 54px;
	text-decoration: none;
	color: rgb(114, 112, 112);
	text-align: left;
 	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);

}


.main-menu__li_link:hover {
  background-image: -moz-linear-gradient( 90deg, rgba(194,192,192,1),  rgba(232,231,231,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(194,192,192,1),  rgba(232,231,231,1));
  background-image: -ms-linear-gradient( 90deg, rgba(194,192,192,1),  rgba(232,231,231,1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e3e3',
            endColorstr='#bfbcbc',GradientType=0);
  box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.menu_link-active {
  background-image: -moz-linear-gradient( 90deg, rgba(62,183,153,1), rgba(126,232,206,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(62,183,153,1), rgba(126,232,206,1));
  background-image: -ms-linear-gradient( 90deg, rgba(62,183,153,1), rgba(126,232,206,1));
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  border: 1px solid #66dbbe;
  color: #1e7465;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7de8cd',
            endColorstr='#3fb79a',GradientType=0);
  padding: 0 0 0 27px;
	width: 100%;
	display: block;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	line-height: 54px;
	text-decoration: none;
	text-align: left;
 	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/** CONTACTS block **/
.contacts-block {
	overflow: hidden;
	border-radius: 5px;
}

.contacts-block__list {
	font-family: 'open_sansregular';
	border-radius: 4px;
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0;
}
.contacts-block__list-header {
  background-image: -moz-linear-gradient( 90deg, rgba(220,177,93,1), rgba(244,204,126,0.9));
  background-image: -webkit-linear-gradient( 90deg, rgba(220,177,93,1), rgba(244,204,126,0.9));
  background-image: -ms-linear-gradient( 90deg, rgba(220,177,93,1), rgba(244,204,126,0.9));
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17),inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4cc7e',
            endColorstr='#dfb866',GradientType=0);
  border: 1px solid #e7bf6f;
	line-height: 41px;
	vertical-align: middle;
	font-size: 20px;
	font-family: 'open_sanssemibold';
	color: #d0982c;
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	padding-left: 26px;
	margin: 0;
}

.contacts-block__list-li {
display: block;
	line-height: 36px;
	border: 1px solid rgb(214, 213, 211);
	border-top: none;
	width: 100%;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	padding-left: 20px;
	color: rgb(114, 112, 112);

  background-image: -moz-linear-gradient( 90deg, rgba(247,246,246,1), rgba(251,251,251,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(247,246,246,1), rgba(251,251,251,1));
  background-image: -ms-linear-gradient( 90deg, rgba(247,246,246,1), rgba(251,251,251,1));
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',
            endColorstr='#f6f5f5',GradientType=0);

}
.contacts-block__list-li a {
	color: rgb(114, 112, 112);
}

.contacts-block__list-li:after {
	display: block;
	float: left;
	margin-left: 12px;
	margin-right: 35px;
	content: '';
    width: 10px;
    height: 36px;
    background: url('../img/icons-spritesheet.png') 0 0;
}

.contacts-block__list-li:first-of-type {
	border-top: 1px solid #c5c5c5;
}

.contacts-block__list-li:hover {

  background-image: -moz-linear-gradient( 90deg, #f2e7d0, #ffffff);
  background-image: -webkit-linear-gradient( 90deg, #f2e7d0, #ffffff);
  background-image: -ms-linear-gradient( 90deg, #f2e7d0, #ffffff);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
            endColorstr='#f2e7d0',GradientType=0);
  box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);

}

/**** CONTENT ***/

.content-wrap {
	width: 67.9166666666%;
	min-width: 652px;
	float: right;
}

.content-block {
	background: #f7f6f5;
	width: 99.8%;
	min-width: 650px;
	margin-bottom: 36px;
	border-radius: 4px;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
}
.content-header {

  	line-height: 1.2;
	margin: 0;
	font-size: 24px;
	 font-family: 'open_sanssemibold';
	color: #eeedec;
	text-shadow: 1px 1px 2px #757373;
	padding: 12px 42px 12px 42px;
	text-align: left;
	border-radius: 4px 4px 0 0;
	border: 1px solid #9c9c9c;

	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	 background-image: -moz-linear-gradient( 90deg, rgba(123,120,120,1), rgba(169,168,168,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(123,120,120,1), rgba(169,168,168,1));
  background-image: -ms-linear-gradient( 90deg, rgba(123,120,120,1), rgba(169,168,168,1));
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8a6a6',
            endColorstr='#7c7979',GradientType=0);


}
.content {
	border: 1px solid #cecece ;
	border-top: none;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	padding: 41px;
	width: 100%;
	border-radius: 0 0 4px 4px;

	  background-image: -moz-linear-gradient( 90deg, #f0eeed, #f7f6f6 );
  background-image: -webkit-linear-gradient( 90deg, #f0eeed,  #f7f6f6);
  background-image: -ms-linear-gradient( 90deg, #f0eeed, #f7f6f6);
  box-shadow:  inset 0 6px 6px 0 rgba(255, 255, 255, 0.004);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6f6',
            endColorstr='#f0eeed',GradientType=0);

}

.content p {
	font-size: 1em;
}
.wrap-ava {
	display: block;
	float: left;

	width: 150px;
	height: 150px;
	overflow: hidden;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	border: 8px solid #f6f5f4;
	box-shadow: 0 0 0 -5px #000000, 0 0 2px #cccbca ;
	-webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin-right: 36px;



}
.ava {
	width: 100%;
}

.profile-details {
	float: left;
	list-style: none;
	width: 379px;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);
	margin: 0;
	padding: 0;
}
.profile-details li {
	margin-bottom: 5px;
}
.profile-li-tags {
	margin-top: 15px;
}

/*** Стилизация специализации ***/

.tag-list{display: block;
	float: right;
	width: 240px;
	font-size: 9px;
	 font-family: 'open_sanssemibold';


}


.tags:before {

	content: "";
	display:  inline-block;
	vertical-align: top;
	height: 17.5px;
	width:9px;
	background: url(../img/spritesheet1.png) 0 0 no-repeat ;
}
.tags {
	padding: 0;
	margin: 3px;
	min-width: 20px;
	display:  inline-block;
	vertical-align: top;
	height: 18px;

}
.tags span {
	padding-left: 6px;

	color: #1e7465;
	height: 100%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	line-height: 17.5px;
	text-align: center;
	background: url('../img/spritesheet1.png') 0 -18px repeat-x ;
}
.tags:after {
	content: "";
	display:  inline-block;
	vertical-align: top;
	height: 18px;
	width:9px;
	background: url(../img/spritesheet1.png) 0 -36px no-repeat;

}
/****** БЛОК ОПЫТ РАБОТЫ ****/

.job-exp{
padding: 0;
margin: 0;
}
.job-exp__li {
	display: block;
	margin: 20px 0 0 0;
}



.job-exp__li:before {
	content: '';
	position: relative;
	display: block;
	margin: 10px 0 20px;
	width: 100%;
	height: 1px;
	background-color: #dbdad9;
	border-bottom: 1px solid #edeceb;
  box-shadow: inset 0 1px 1px 0 rgba(128, 128, 128, 0.29);

}



.job-exp__li:first-child:before {
	display: none;
	margin-top:0;
}
.job-exp__li:first-child {
	margin-bottom:0;
}
.job-exp li:first-child {
	margin-top:0;
}

.job-ico {
  border-radius: 50%;
  background-color: rgb(191, 191, 191);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.004),inset 0.5px 0.866px 0 0 rgba(199, 199, 199, 0.75);
  width: 53px;
  height: 54px;

}

.job-exp__li-text{
	display: inline-block;
	vertical-align: top;
	width: 83%;
}
.job-exp__li-text p:first-child {
	 font-family: 'open_sanssemibold';
}

.job-exp p {
	width: 100%;
	margin: 0 0 0 93px;
}

/*** JOB EXP ICONS ****/


.unfinished-education:before {
	content: '';
    margin-right: 40px;
       float: left;
    width: 53px;
    height: 53px;
    background: url('../img/job-exp-sprite.png');
       background-position: 0 0;
}

.courses:before {
    margin-right: 40px;
content: '';
float: left;
    width: 53px;
    height: 53px;
    background: url('../img/job-exp-sprite.png');
    background-position: -53px 0;
}

.job-case:before {
	content: '';
	float: left;
    margin-right: 40px;
    width: 53px;
    height: 54px;
    background: url('../img/job-exp-sprite.png');
    background-position: 0 54px;
}

.complited-educ:before {
    margin-right: 40px;
    float: left;
content: '';
    width: 53px;
    height: 53px;
    background: url('../img/job-exp-sprite.png');
        background-position: -53px -53px;
}

/***   END JOB ***/












/*** КОНЕЦ MAIN ***/




.footer {
	height: 61px;
	margin-top: -61px;
	background-image: -moz-linear-gradient( 270deg, rgba(255,255,255,1), rgba(240,240,241,1));
  background-image: -webkit-linear-gradient( 270deg, rgba(255,255,255,1), rgba(240,240,241,1));
  background-image: -ms-linear-gradient( 270deg, rgba(255,255,255,1), rgba(240,240,241,1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
            endColorstr='#f1f1f1',GradientType=0);
	border-top: 1px solid rgb(0, 0, 0, 0.1);
	z-index: 3;
	position: relative;
}

.footer-wrap {
	width: 68.57142857142857%;
	margin: 0 auto;
	text-align: center;
}

.login_in:before {
	display: inline-block;
	content: '';
	margin-right: 11px;
	width: 22px;
    height: 22px;
    vertical-align: bottom;
    background: url('../img/icons-spritesheet.png') -117px -44px no-repeat;
}

.login_in:hover:before {
    background: url('../img/icons-spritesheet.png') -134px 0 no-repeat;
}
.login_in { display: inline-block;
	line-height: 22px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 50px;
	font-family: 'open_sansbold';


}
.footer-text {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	   font-family: 'open_sanslight';
	   font-size: 12px;
}

/**** ПОП - АП*****/
.popup-wrap {
	position: fixed;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	background: rgb(114,112,112);
	opacity: 0.72;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=72);
	cursor: pointer;


}
.popup-content
{	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 362px;
	display: none;
	z-index: 100;
}
.popup-header{
	width: 362px;
	color: white;
	padding-left: 15px;
	margin: 0 auto 5px;
}
.add-templ-form {
	margin: 0 auto;
	width: 362px;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	background-color: #f4f3f2;
	box-sizing: border-box;
	padding: 13px 21px;
}
.add-templ-form .popup-close {
	margin: 0;

	top: -6px;
	right: -15px;
	float: right;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/icons-spritesheet.png) -144px 62px;
	cursor: pointer;
}

.add-templ-form label{
	font-size: 14px;
}

.file-stand-in,
.add-templ-form label,
.add-templ-form input,
.add-templ-form textarea{
	display: inline-block;
	width: 100%;
	box-sizing: border-box; *behavior: url(/js/boxsizing.htc);

	margin: 0 0 11px ;

}

.file-stand-in,
.add-templ-form input,
.add-templ-form textarea{
	height: 41px;
	font-size: 12px;
	border: 1px solid #d6d5d3;
	border-radius: 4px;
    padding: 10px;
	 background-image: -moz-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  background-image: -ms-linear-gradient( 90deg, rgba(243,243,243,0), rgba(251,249,249,1));
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35),inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfd',
            endColorstr='#f4f3f3',GradientType=0);

}

.add-templ-form input:focus,
.add-templ-form textarea:focus{
 border: 2px solid rgba(180, 105, 72,0.85);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 2px 2px 0px rgba(113, 111, 111, 0.1);
outline: none;
}

.add-templ-form button:focus {
  outline: none;
}


.add-templ-form textarea {
	height: 110px;
	resize: none;
}

.add-templ-form .submit-button{
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 37px;
	border-radius: 5px;
  color: #1e7465;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
border: 1px solid #51bc9e;
  background-image: -moz-linear-gradient( 90deg, rgba(67,183,150,1), rgba(128,232,203,1));
  background-image: -webkit-linear-gradient( 90deg, rgba(67,183,150,1), rgba(128,232,203,1));
  background-image: -ms-linear-gradient( 90deg, rgba(67,183,150,1), rgba(128,232,203,1));
  box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16),inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80e8cb',
            endColorstr='#43b796',GradientType=0);
}
.add-templ-form .submit-button:hover {
  background-image: -moz-linear-gradient( 90deg, rgba(58,160,135,1), #5fdcbd);
  background-image: -webkit-linear-gradient( 90deg, rgba(58,160,135,1), rgba(95,220,189,1));
  background-image: -ms-linear-gradient( 90deg, rgba(58,160,135,1), rgba(95,220,189,1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fdcbd',
            endColorstr='#3aa087',GradientType=0);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

label.file-stand-in{
	text-decoration: none;
	float: left;
	display: block;
	padding:0;
	margin: 0 0 11px ;
	height: 41px;
	line-height: 22px;
	position: relative;
	background: url('../img/add-file-img.png') #ffffff;
        background: #ffffff \9;
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}
label.file-stand-in:after{
content: '';
display: inline-block;
position: absolute;
top: 0;
right: 0;
background: url('../img/add-file-img.png');
width: 53px;
height: 39px;
}

input.file-stand-in-text {
	padding: 10px 54px 10px 10px;
	height: 100%;
	position: relative;
	z-index: 2;
	border-radius: 0;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader();
	border:none;
	box-shadow: none;
	outline: 0;

}

input.file-upload {
display: none;
clear: both;
}

.rfield {
	height: 50px;
}


/*****    ТУЛТИП  ***/

.tooltip-block{
  text-align: right;
  position:absolute;
  display:block;

min-width:200px;


}
div.tooltip-block p {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px;
  margin: 0;
  background-image: -moz-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
  background-image: -webkit-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
  background-image: -ms-linear-gradient( 90deg, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
  background-color: #e89376\9;
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  font-size: 12px;
  color: rgb(154, 78, 50);
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
}
.tooltip-right{
	left: 100%;
	text-align: left;
}
.tooltip-left{
	right: 100%;
	text-align: right;
}
.tooltip-right:before{
	display:inline-block;
  position: relative;
  vertical-align: middle;
  content: '';
  border: 7px solid transparent;
  border-right: 7px solid #e89376;
}
.tooltip-left:after{
  display:inline-block;
  position: relative;
  vertical-align: middle;
  content: '';
  border: 7px solid transparent;
  border-left: 7px solid #e89376;

}

label.requiredField-error,
input.requiredField-error,
textarea.requiredField-error {
 -webkit-box-shadow: 0px 0px 2px 1px rgba(224,171,154,1);
-moz-box-shadow: 0px 0px 2px 1px rgba(224,171,154,1);
box-shadow: 0px 0px 2px 1px rgba(224,171,154,1);

border: 2px solid rgb(203, 105, 69)\9;

}